@tailwind base;
@tailwind components;

.nav_link {
  @apply px-3 border-b-2 border-white hover:border-gray-600 h-full;
  a {
    @apply h-full flex items-center;
  }
}

.btn {
  @apply text-center rounded-sm py-5 w-full font-light text-lg;
}

.btn-link {
  @apply btn rounded-lg py-3 text-white bg-red-500;
}

input,
textarea,
select {
  @apply btn text-left border border-gray-600 px-5 focus:outline-none focus:border-green-500;
}

textarea {
  resize: none;
  height: 100px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply border-red-500;
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  5% {
    opacity: 1;
    transform: translateY(15px);
  }
  95% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-500;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-500;
  }
}

@tailwind utilities;
